/* Space out content a bit */
body {
  color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #221e40;
    color: #fff;
}

.nav > li > a.btn-important{
    text-decoration: none;
    background-color: #fff;
    color: #221e40;
}

.container{
  width: 100%;
  padding: 0;
}
.space_color {
  background: #221e40;
}

.container-center{
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
}

/* Custom page header */
.header {
  padding-bottom: 12px;
  padding-top: 1px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 22px;
  padding-bottom: 10px;
}

/* Customize container */
@media (min-width: 100%) {
  .container {
    max-width: 100%;
    width: 100%;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 0px;
  }
